Flask==2.3.3
Flask-SQLAlchemy==3.0.3
streamlit==1.25.0
requests==2.31.0
scikit-learn==1.2.2
pandas==1.5.3
numpy==1.24.3
folium==0.14.0
streamlit-folium==0.13.0
psycopg2-binary==2.9.6
PuLP==2.7.0
networkx==3.1
